@page "/"

<div class="m-5">
    <div class="d-flex justify-content-center">
        <h1>Система сопровождения логистической деятельности</h1>
    </div>
</div>
<div class="h-50 row align-items-center m-5">
    <div class="col d-flex justify-content-center">
        <h3>Добро пожаловать в Систему сопровождения логистической деятельности</h3>
    </div>
</div>
