@inherits LayoutComponentBase

<PageTitle>SSLD</PageTitle>

<RadzenDialog/>
<RadzenNotification/>
<RadzenTooltip/>

<div class="page">
    <NavMenu/>
    <div class="main">
        @Body
    </div>
</div>